
/*Animation for header*/ 

header {

	-webkit-animation: initialAnimationForHeader 1s 1; /* Chrome, Safari, Opera */
    -webkit-animation-delay: none; /* Chrome, Safari, Opera */
}

/*Animation for header*/
/* Chrome, Safari, Opera */
@-webkit-keyframes initialAnimationForHeader {

    from {top: -200px;}
    to {top: 0px;}
}

@keyframes initialAnimationForHeader {

    from {top: -200px;}
    to {top: 0px;}
}

/**/

/*Animation for BSA card*/

.itemBSA_Figure {

	transition-property: opacity, width, height;
  	transition-duration: 0.5s;
  	transition-timing-function: linear;
}

.itemBSA:hover .itemBSA_Figure {
	width: 35%;
	height: 35%;
	opacity: 0;
}

/**/

/*Animation for QA card*/


.itemQA_Figure {

  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.itemQA:hover .itemQA_Figure {

  transform: rotateX(90deg);
}

/**/

/*Animation for Js card*/

.itemJS_Figure {

  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;

}

.itemJS:hover .itemJS_Figure {

  opacity: 0;
}

/**/

/*Animation for Java card*/

.itemJava_Figure {

  transition-property: height, font-size;
  transition-duration: 0.3s;
    transition-timing-function: linear;
}

.itemJava:hover .itemJava_Figure {

  height: 0;
  font-size: 0px;
}

/**/

/*Animation for Php*/

.itemPhp_Figure {

  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.itemPhp:hover .itemPhp_Figure {
  
  transform: rotateY(90deg);
}

/**/

/*Animation for Net*/

.itemNet_Figure {
  
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.itemNet:hover .itemNet_Figure{

  transform: rotate(360deg);
  opacity: 0;
}

/**/

/*Animation for Events*/

.itemEvents_Figure {
  
  transition-property: width, height, font-size;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.itemEvents:hover .itemEvents_Figure{
  width: 0;
  height: 0;
  font-size: 0;
}

/**/

/*Animation for Blog*/

.itemBlog_Figure {

  font-size: 1.3vw;
  transition-property: width, font-size;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.itemBlog:hover .itemBlog_Figure {

  font-size: 0;
  width: 0;
}

/**/

/*Animation for Contacts*/

.itemContacts_Figure {

  background-color: rgb(10, 26, 76);
  position: absolute;
  z-index: 2;
  font-size: 1.3vw;
  transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform-origin: bottom;
}

.itemContacts:hover .itemContacts_Figure {

  transform: rotate(180deg);
  opacity: 0;
}

/**/

/*Animation for button Join*/

.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.button:hover {
  background-color: #2194E0;
  color: #fff;
  border-bottom: 4px solid #1977b5;
}

.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.8s ease-in-out;
}

/**/



