/*  Main grid  */

main {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
	background-color: rgb(244, 245, 251);
	padding-top: 110px;
}

.main_grid {
	

	width: 100%;
	height: 40vw;
	display: grid;
	grid-template-columns: 25% 25% 30% 20%;
  	grid-template-rows: repeat(8, 12.5%);
}


/*Basic styles for all the cards*/

.card {

	position: relative;
}

/*Basic styles for card contents*/

.itemContent {

	text-align: center;
	padding: 10px;
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	overflow: auto;
	font-size: 1.4vw;
}


/*Basic styles for card figure*/

.itemFigure {

	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

/*BSA Content!!*/

.itemBSA {

	grid-column: 1 / 2;
	grid-row: 1 / 5;
}


.itemBSA_Figure {

	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.itemBSA_Content {

	height: 100%;
	width: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	overflow: auto;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {

  	padding: 0.40em 1.3em;
  	text-align: center;
  	text-decoration: none;
  	color: #2194E0;
  	border: 2px solid #2194E0;
  	font-size: 20px;
  	display: inline-block;
  	border-radius: 0.3em;
  	transition: all 0.2s ease-in-out;
  	position: relative;
  	overflow: hidden;
}

.bsa_img {

	height: 130px;
}

/*QA Content*/

.itemQA {

	grid-column: 1 / 2;
	grid-row: 5 / 9;
}

.itemQA_Figure {

	background-color: rgb(70, 182, 100);	
	font-weight: 400;
	font-size: 7vw;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*JS Content*/

.itemJS {

	grid-column: 2 / 3;
	grid-row: 1 / 7;
}

.itemJS_Figure {

	background-color: rgb(244, 198, 87);
}

.itemJS_Figure h2 {
	
	font-size: 8vw;
	margin: 0;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	right: 0;
}

/*Java Content*/

.itemJava {
	grid-column: 2 / 3;
	grid-row: 7 / 9;
}

.itemJava_Figure {

	background-color: rgb(200, 17, 57);	
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin: 0;
	font-size: 3vw;
}

/*Php Content*/

.itemPhp {

	grid-column: 3 / 5;
	grid-row: 1 / 4;
}

.itemPhp_Figure {

	background-color: rgb(118, 127, 178);
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 6vw;
}

/*.NET Content*/

.itemNet {
	grid-column: 3 / 4;
	grid-row: 4 / 9;
}

.itemNet_Figure {
	
	background-color: rgb(70, 16, 100);
	color: #fff;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
}	

/*General style for detailed information*/

.DetailedIngormation {

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

/*Events Content*/

.itemEvents {

	grid-column: 4 / 5;
	grid-row: 4 / 6;
}

.itemEvents_Figure {
	
	background-color: rgb(37, 133, 254);
	position: absolute;
	z-index: 2;
	font-size: 1.3vw;
}


/*Blog Content*/

.itemBlog {

	grid-column: 4 / 5;
	grid-row: 6 / 8;
}

.itemBlog_Figure {

	background-color: rgb(20, 47, 146);
	position: absolute;
	z-index: 2;
	font-size: 1.3vw;
}

/*Contacts Content*/

.itemContacts {

	grid-column: 4 / 5;
	grid-row: 8 / 9;
}

.itemContacts_Figure {

	background-color: rgb(10, 26, 76);
	position: absolute;
	z-index: 2;
	font-size: 1.3vw;
}

.itemContacts_Contnet {

	height: 100%;
	width: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 1;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-size: 2.5vw;
}

.itemContacts_Contnet a:active,
.itemContacts_Contnet a:visited,
.itemContacts_Contnet a:link {

	color: black;
}

.fa-soc {
	
 	margin: 5px;
}

.fa-soc:hover {

	cursor: pointer;
	color: rgb(37, 193, 255);
}


@media all and (max-width: 970px) {
	
	.itemContent {
	
		font-size: 2vw;
	}

	.main_grid {

		height: 75vw;
		display: grid;
		grid-template-columns: repeat(20, 5%);
	  	grid-template-rows: 20% 20% 10% 25% 25%;

	}

	.itemBSA {

		grid-column: 1 / 10;
		grid-row: 1 / 4;
	}
	
	.itemJS {

		grid-column: 10 / 16;
		grid-row: 1 / 4;
	}

	.itemEvents {

		grid-column: 16 / 21;
		grid-row: 1 / 2;
	}

	.itemBlog {

		grid-column: 16 / 21;
		grid-row: 2 / 3;
	}

	.itemContacts {

		grid-column: 16 / 21;
		grid-row: 3 / 4;
	}

	.itemJava {

		grid-column: 1 / 11;
		grid-row: 4 / 5;
	}

	.itemQA {

		grid-column: 1 / 11;
		grid-row: 5 / 6;
	}

	.itemPhp {

		grid-column: 11 / 21;
		grid-row: 4 / 5;
	}

	.itemNet {

		grid-column: 11 / 21;
		grid-row: 5 / 6;
	}

	.itemContacts_Contnet {

  		font-size: 5vw;
 	}	

	.itemContacts_Figure {

		font-size: 2vw;
	}
	
	.itemBlog_Figure {

		font-size: 2vw;
	}

	.itemEvents_Figure {

		font-size: 2vw;
	}
}

