/*Navigation style!!*/

header {
	position: fixed;
	background-color: white;
	width: 100%;
	top: 0;
    z-index: 20; 
}

.conteiner {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 80%
}

.navigation {

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0px;
}

.navigation_logInButton {
 
 	outline: none;
  	border: none;
  	background: #ffa600;
  	border-radius: 50%;
  	display: flex;
  	color: white;
	font-size: 22px;
  	align-items: center;
  	justify-content: center;
  	height: 1.8em;
  	width: 1.8em;
}

.navigation_logInButton:hover {

	background: #ff8800;
	cursor: pointer;
}

.navigation_logIn {

	position: relative;
	display: flex;
	align-items: center;
	padding: 5px 0px;
}

.fa-bell {

	margin-right: 25px;
	font-size: 22px;
	opacity: .2;
}

/*Style for drop down menu*/

.fa-bell:hover {

	opacity: .5;
	cursor: pointer;
}

.dropdown_content {

  	display: none;
	position: absolute;
	margin-top: 4px;
	top: 100%;
	right: 0%;
	z-index: 1;
	box-shadow: 1px 1px 5px 0 black;
	background-color: #fff;
}

.dropdown_content input:hover {
	cursor: default;
}

.dropdown_content input {
	outline: none;
	display: block;
	max-width: 80%;
	margin: 0px auto;
	padding: 6px;
	text-align: center;
	border: none;
	border-bottom: 1px solid gray;
} 

.dropdown_content ul {

	margin-top: 4px;
	font-size: 14px;
	list-style-type: none;
}

.dropdown_content ul li {
	
	width: 100%;
	padding: 5px 0;
	margin-left: -20px;
}

.dropdown_content ul li:hover {
	
	cursor: pointer;
	background-color: rgb(244, 245, 251);
}

input[type=checkbox] {
   display: none;
}

/* Toggled State */
input[type=checkbox]:checked ~ .dropdown_content {
   display: block;
}