/*Messages*/

.infoMessages {

	width: 220px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.message {
	
	border-radius: 3px;
	padding: 5px 0px 5px 0;
	margin: 10px;
	color: white;
	opacity: .9;
	display: flex;
	align-items: center;
}

.messageContent {

	padding: 10px 10px 10px 0;
}

.messageContent p, 
.messageContent h3 {

	margin: 0;
	padding: 0;
	font-size: 14px;
}

.messageIcon {

	margin: 0;
	padding: 0 15px;
}

.errorMessage {

	background-color: rgb(255, 76, 72);
}

.successMessage {

	background-color: rgb(101, 180, 90);
}

.warningMessage {

	background-color: rgb(246, 142, 55);
}