
* {
	box-sizing: border-box;
}

body, html {

	height: 100%;
	font-family: Helvetica;
	margin: 0;
}

/*Foooter*/

footer {
	
	display: flex;
	justify-content: center;
}

.footer_text {

	width: 100%;
	font-weight: 500;
	font-size: 16px;
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.fa-copyright {

	margin-right: 4px;
}


